.container-navbar {

    display: flex;
    justify-content: space-between;
    height: 70px;

    background-color: var(--bg-navbar);

    color: var(--texto-principal);

    font-weight: 600;
    font-size: 18px;

    
}

.direita-navbar {

    display: flex;
    padding-left: 5rem;
    
}

.logo-navbar {

    width: 180px;
    height: 99px;
}

.opcoes-navbar {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;

}

.opcoes-navbar li:hover, .login-navbar a:hover, .campo-pesquisa-navbar a img:hover, .direita-navbar a img:hover, #dropdownMenuButton:hover  {

    cursor:pointer;
}

.esquerda-navbar {

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 400px;
    padding-right: 5rem;

}

.login-navbar{

    width: 90px;
    margin-left: 15px;
    padding-right: 5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-login-navbar {
    
    width: 30px;
    height: 30px;
    margin-left: 5.9px;
}

.input-navbar{

    width: 230px;
    height: 30px;
    padding-left: 65px;
    margin-right: 5px;
    border: none;
    border-radius: 16px;

    background-color: var(--input);
    
}

.lupa-navbar {

    width: 30px;
    height: 30px;
    color: var(--texto-principal)
}

.campo-pesquisa-navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dropdown-menu {
    background: var(--bg-navbar);
}

.dropdown-item {

    font-size: 18px;
    color: var(--texto-principal);
}