@import url("navbar.css");
@import url("lancamentos.css");
@import url("acaoeaventura.css");
@import url("rodape.css");
@import url("top10.css");
@import url("categorias.css");


:root {
    --bg-navbar: #1D2226;
    --texto-principal: #FFFFFF;
    --input: #38434F;
    --bg-pagina: #000000;
    --azul-logo: #00A8E1;
}
body {
    font-family: 'Montserrat', sans-serif;

    background-color: var(--bg-pagina);
    color: var(--texto-principal);
}

main {
    background-color: var(--bg-pagina);
    color: var(--texto-principal);
}

.categoria-geral {

    width: 100%;
    height: 256px;

    opacity: 0.6;
}

.texto-categoria {

    margin-left: 5rem;

    color: var(--texto-principal);

    font-weight: 600;
    font-size: 1.6rem;

    opacity: 0.8;
}

.categoria-geral{

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    gap: 1rem;
}

.img-categoria {

    width: 17rem;
    height: 9rem;

    border-radius: 6px;

}

.img-categoria:hover {
    width: 18rem;
    height: 15rem;
    transition: .5s;
    cursor: pointer;

    opacity: none;
}
